/* Define primary colors */
:root {
  --primary-color: #006769;
  --secondary-color: #E6FF94;
  --white-color: #FFFFFF;
}

/* Apply linear gradient background to the entire website */
html {
  min-height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  color: var(--white-color);
  background-color: #006769;
}

/* Example usage of primary colors */
.header, .footer {
  background-color: var(--primary-color);
}

.button {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

/* Add custom hover classes */
.hover-white:hover {
  color: var(--white-color) !important;
}

.hover-secondary:hover {
  color: var(--secondary-color) !important;
}